---
title: Relics
---
<!DOCTYPE html>
<html id="light">
  <head>
    {% include head.html %}

    <script>
	  window.onload = () => {
        let request = new Request('relics.txt');
        fetch(request)
          .then(response => {
            if (!response.ok) {
              throw new Error(`Fetch failed, status=${response.status}`);
            }
            return response.text();
          })
          .then(text => {
            const wrapper = document.querySelector('.wrapper');
            text.split('\n').forEach(line => {
              if (line) {
                var parts = line.split(' ');
                var era = parts[0];
                var relic = parts[1];
                var div = document.createElement("div");
                div.className = era.toLowerCase();
                var text = document.createTextNode(relic);
                div.appendChild(text);
                wrapper.appendChild(div);
              }
          });
        });
	  }
    </script>
  </head>

  <body id="dark">
    {% include themepicker.html %}
    <div class="wrapper">
        <div class="lith label">Lith</div>
        <div class="meso label">Meso</div>
        <div class="neo label">Neo</div>
        <div class="axi label">Axi</div>
    </div>
  </body>
</html>
