---
title: 🔒Primes
---
<!DOCTYPE html>
<html id="light">
  <head>
    {% include head.html %}

    <script>
	  window.onload = () => {
        let request = new Request('vaulted-primes.txt');
        fetch(request)
          .then(response => {
            if (!response.ok) {
              throw new Error(`Fetch failed, status=${response.status}`);
            }
            return response.text();
          })
          .then(text => {
            const wrapper = document.querySelector('.wrapper');
            text.split('\n').forEach(line => {
              if (line) {
                var div = document.createElement("div");
                var text = document.createTextNode(line);
                div.appendChild(text);
                wrapper.appendChild(div);
              }
          });
        });
	  }
    </script>
  </head>

  <body id="dark">
    {% include themepicker.html %}
    <div class="wrapper">
    </div>
  </body>
</html>
